@font-face {
    font-family: 'PixelFont';
    src: url('./BigApple3PM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'PixelFont';
}

:root{
    --bg-color: #393939;
    --accent-color: #1a1a1a;

    --other-bg-color: #515151;

    --text-color: #f0f8ff ;
    --text-highlight-color: #abacac;

    --accent-border-color: #f0f8ff;
    --title-bar-height: 15vh;

    --leaderboard-header-background-color: #1a1a1a;
    --leaderboard-header-text-color: #f0f8ff;

    --leaderboard-row-background-color: #2c2c2c;
    --leaderboard-row-text-color: #dbdbdb;

    --leaderboard-row-other-background-color: #3b3b3b;
    --leaderboard-row-other-text-color: #dbdbdb;

    --leaderboard-border: 1px solid #575757;
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.contentContainer{
    width: 100%;
    height: calc(100% - var(--title-bar-height));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--bg-color);
}

.contentPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mainPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.leaderboardPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.leaderboardContainer{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--accent-color);
    
}

.leaderboardTitle{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 2em;
}

.leaderboardTable{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.leaderboardRow{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--leaderboard-row-background-color);
    color: var(--leaderboard-row-text-color);
    font-size: 1em;

    transition: 0.5s;
}

.leaderboardRow:nth-child(odd){
    background-color: var(--leaderboard-row-other-background-color);
    color: var(--leaderboard-row-other-text-color);
}

.leaderboardRow:hover{
    opacity: 0.8;
    cursor: pointer;
}


.pages{
    flex-direction: row;
    display: flex;
    width: 20%;
    height: 10%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    font-size: 2em;
    color: var(--text-color);
}
.arrow{
    cursor: pointer;
}

.arrow:hover{
    color: var(--text-highlight-color)
}

.leaderboardTableHeader > .leaderboardCollumn:hover{
    color: var(--text-highlight-color);
    cursor: pointer;
}



.leaderboardTableHeader{
    font-size: 1.5em;
    background-color: var(--leaderboard-header-background-color);
    color: var(--leaderboard-header-text-color);

    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.arrow{
    width: 10%;
    height: 100%;
    display: flex;
    justify-self: right;
    align-items: center;
}


.leaderboardCollumn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--leaderboard-border);
    border-bottom: var(--leaderboard-border); 
    height: 100%;
    width: calc(100%/3);

    transition: 0.5s;
}




.titleBar{
    width: 100%;
    height: var(--title-bar-height);
    min-height: 3rem;
    background-color: var(--accent-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0;
}

.titleBarItem{
    margin: 0;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    text-decoration: none;
    color: var(--text-color);
}

.title{
    flex-grow: 0;
    justify-content: left;
    align-items: center;
    padding-left: calc(8rem/10);
    font-size: 8rem;
}

.userOpt{
    margin: 0;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}

.userOptItem{
    flex-grow: 1;
    gap: 5px;
    padding: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    width: 80%;
}

@media screen and (max-width: 800px) {
    .titleBar{
        flex-wrap:wrap;
        height: auto;
        justify-content: flex-start;
    }
    .titleBarItem{
        flex-grow: 1;
        height: 50%;
        display: flex;
        font-size: 2rem;
        text-decoration: none;
        color: var(--text-color);
    }
    .title{
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        font-size: 4rem;
        height: 50%;
    }
    .userOpt{
        flex-grow: 1;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    .userOptItem{
        flex-grow: 1;
        gap: 5px;
        padding: 5px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

    }
}


.mark{
    border-style: solid;
    border-radius: 5px;
    border-color: #1a1a1a;
    transition: 0.5s;
    cursor: pointer;
}
.mark:hover{
    background-color: var(--text-color);
    color: var(--accent-color);
}

.mainPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupInfo{
    width: 20em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--other-bg-color);
    border-style: solid;
    border-color: var(--accent-border-color);
    gap: 1.5em;
    border-radius: 1em;
}


.loginInfo{
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--other-bg-color);
    border-style: solid;
    border-color: var(--accent-border-color);
    gap: 1.5em;
    border-radius: 1em;
}
.formElement{
    width: 15em;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 15px;
    box-shadow: none;
    border: var(--accent-border-color) solid 1px;

    overflow-hidden;
}
.formElement>i{
    flex-grow: 1;
    color: var(--text-color);
    font-size: 2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.formText{
    flex-grow: 2;
    box-shadow: none;
    font-size: 1.5em;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    highlight: none;
    outline: none;
    width: 100%;
    color: var(--text-color);

}
.formButton{
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 8em;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: none;
    border: var(--accent-border-color) solid 1px;
    font-size: 2em;
}

.profilePage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileContainer{
    width: 20em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--other-bg-color);
    gap: 1em;
    border-radius: 1em;
}
.profileTitle{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 2em;
    
}
.profileInfo{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
    gap: 0.5em;
}
.profileInfoItem{
    width: max-content;
    height: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--leaderboard-row-background-color);
    color: var(--leaderboard-row-text-color);
    font-size: 1.25em;
    border-radius: 1em;
    padding: 0.5em;
}
.copyToClipboard{
    background-color:transparent;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1em;
    border: none;
}
.copyToClipboard:hover{
    color: var(--text-highlight-color);
    cursor: pointer;
}
.connectionHelp{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-highlight-color);
}
.profileButtonContainer{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 1em;
    border-radius: 1em;
    padding: 0.5em;
    justify-self: center;
    align-self: center;
}
.profileButton{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--leaderboard-row-background-color);
    color: var(--leaderboard-row-text-color);
    font-size: 1em;
    border-radius: 1em;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.5s;
}

.process{
    width:100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #797979;
    border-top: 10px solid #f0f8ff;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

@keyframes spin{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.hidden{
    display: none;
}


