:root{
    --borderColor: #fff;

}


body,html{
    margin: 0;
    overflow: hidden;
}

.mainContainer{
    display: none;
}

canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.uiContainer{
    transition: backdrop-filter 1s linear;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter:blur(0);

    background-color: rgba(0, 0, 0, 0.1);
}

.activateUi{
    display:grid;
    backdrop-filter:blur(2px);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.statsContainer{
    grid-area: 2 / 1 / 4 / 2;
}
.itemsContainer{
    grid-area: 1 / 1 / 2 / 2;
}
.mapContainer{
    grid-area: 1 / 2 / 3 / 3;
}
.menuButtonContainer{
    grid-area: 3 / 2 / 4 / 3;
}
.runStatsContainer{
    grid-area: 2 / 3 / 4 / 4;
}
.descriptionContainer{
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
}

.uiContainerGlobal{
    border: 1px solid var(--borderColor);
    overflow: hidden;
}
h1{
    text-align: center;
}

.statsListItem{
    font-size: 1.25rem;
    margin-top: 5px;
}


.statsList{

}

.invParts{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50%;
    position: relative;
    border: 1px solid var(--borderColor);

    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

    

}
.invParts::-webkit-scrollbar{
    display: none;  
    width: 0px;
}
.inventoryItem{
    display: block;
    margin: 2px;
    border: 1px solid;
    width: 40px;
    height: 40px;

    background-position: right;
    background-repeat: no-repeat;
}

.itemLevel{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 5px;
    height: 5px;
}

.descriptionText{
    text-align: center;
    height:50%;
    width: 100%;
    margin: 0;
    border: 1px solid var(--borderColor);
    padding: 5px;

}

.weaponStats{
    height: 50%;
    width: 100%;
    margin: 0;
    border: 1px solid var(--borderColor);
    list-style-position: outside;

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.weaponStat{
    margin-right:10px;
}

#characterContainer{
    display: none;
}




.mainMenuButtonGlobal{
    border: 1px solid black;
    background-color: gray ;
    width: calc(100%-15px);
    height: 100%;

    border-radius: 10px;

    transition: 0.5s;

    box-shadow: none;

    font-size: 2rem;

    background-repeat: no-repeat;
    background-position: center;
    
}

.mainMenuButtonGlobal:hover{
    opacity: 0.8;
    
}

.mainMenu {
    
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    top:15px;
    left: 15px;
    grid-template-columns: repeat(2, 0.5fr) 1fr 2fr repeat(2, 1fr);
    grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.startGame { grid-area: 2 / 4 / 3 / 5; 

}
.unlocks { grid-area: 3 / 4 / 4 / 5; 

}
.quit { grid-area: 4 / 4 / 5 / 5; 

}
.settings { grid-area: 4 / 3 / 5 / 4; 
    background-image: url(../img/UI/Settings.png);
    background-size:80px;
}
.runHistory { grid-area: 4 / 5 / 5 / 6; 

}
.github { grid-area: 1 / 1 / 2 / 2; 
    background-image: url(../img/UI/Github.png);
    background-size:60px;
}
.credits { grid-area: 1 / 2 / 2 / 3; 

}

.characterSelectorMenu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(77, 77, 77);
}


.characterSelector {
    width: calc(25% - 10px);
    height: 33.3%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
    background-color: gray;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.charImg {
    margin-top: 5px;
    max-height: 80%;
    width: auto;
    height: auto;
}

.charItemImg {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 5px;
}
.selectedChar{
    opacity: 0.8;
}
.selectedMap{
    opacity: 0.8;

}

.mapSelectorMenu{
    width: 100%;
    height: 100%;
    display: none;
    position:absolute;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap:10px;
    background-color:rgb(77, 77, 77);
}

.mapSelector {
    width: 95%;
    height: 20vh;
    box-sizing: border-box;
    margin: 2.5%;
    border-style: solid;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: none;
    transition: 0.5s;
    background-position: center;
    background-size: contain;

}

.selectorUiHolder {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.selectorUiGlobal{
    width: 100%;
    height: 100%;
    position: absolute;
}
    
    .selectorChoiceBox { grid-area: 1 / 2 / 5 / 5; }
    .backButton { grid-area: 1 / 1 / 2 / 2;
    
    }
    .mainMenuStatHolder { grid-area: 2 / 1 / 6 / 2; 
    
    }
    .div4 { grid-area: 5 / 2 / 6 / 5;
     }
    .nextMenu { grid-area: 5 / 5 / 6 / 6; 
    
    }
    .div6 { grid-area: 1 / 5 / 5 / 6; }