:root{
    --borderColor: #fff;

}

@font-face {
    font-family: 'Big Apple 3PM';
    src: url('../font/BigApple3PM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'Big Apple 3PM';
}


body,html{
    margin: 0;
    overflow: hidden;
}


.mainContainer{
    display: none;
}

canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.parentContainer{
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

}
