:root{
    --borderColor: #fff;

}

@font-face {
    font-family: 'PixelFont';
    src: url('../font/BigApple3PM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'PixelFont';
}


body,html{
    margin: 0;
    overflow: hidden;
}


.mainContainer{
    display: none;
}

canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.parentContainer{
    position: absolute;
    width: 100%;
    height: 100%;
}


.dpsIndicator{
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 2.5rem;
    border-style: solid;
}

.performanceIndicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 2.5rem;
    border-style: solid;
}