

.uiContainer{
    transition: backdrop-filter 1s linear;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter:blur(0);

    background-color: rgba(0, 0, 0, 0.1);
}

.activateUi{
    z-index: 1;
    display:grid;
    backdrop-filter:blur(2px);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.statsContainer{
    grid-area: 2 / 1 / 4 / 2;

}
.itemsContainer{
    grid-area: 1 / 1 / 2 / 2;
}
.mapContainer{
    grid-area: 1 / 2 / 3 / 3;
}

.runStatsContainer{
    grid-area: 2 / 3 / 4 / 4;
}

.uiContainerGlobal{
    border: 1px solid var(--borderColor);
    overflow: hidden;
}
h1{
    text-align: center;
}

.statsListItem{
    font-size: 1.25rem;
    margin-top: 5px;

}



.invParts{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50%;
    position: relative;
    border: 1px solid var(--borderColor);

    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

    

}
.invParts::-webkit-scrollbar{
    display: none;  
    width: 0px;
}
.inventoryItem{
    display: block;
    margin: 2px;
    border: 1px solid;
    width: 40px;
    height: 40px;

    background-position: right;
    background-repeat: no-repeat;

    outline: none;
}

.itemLevel{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 5px;
    height: 5px;

}

.descriptionContainer{
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


.descriptionText{
    text-align: center;
    width: 100%;
    margin: 0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wepaonLevel{
    width: 100%;
    margin: 0;
    flex: 0 1 auto;
    padding: 5px;

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}


.weaponStats{
    width: 100%;
    margin: 0;
    flex: 0 1 auto;
    padding: 5px;

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}
.weaponStat{
    margin-right:10px;
}




.uiButton{
    width: 100%;
    height: 100%;
    transition: 0.5s;

    font-size: 3rem;

    background-repeat: no-repeat;
    background-position: center;

    background-image: url(../img/UI/ButtonBackground.png);
    background-size:contain;

    border-style: none;

    background-color: transparent;
}

.uiButton:hover{
    opacity: 0.8;
    
}

.menuButtonContainer{
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: row;
}

.uiSubButton{
    transition: 0.5s;

    flex-grow: 1;
    flex-shrink: 1;

    font-size: 1.5rem;

    background-repeat: no-repeat;
    background-position: center;

    background-image: url(../img/UI/ButtonBackground.png);
    background-size:contain;

    border-style: none;

    background-color: transparent;
}
.uiSubButton:hover{
    opacity: 0.8;
    
}


.levelUpMenu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter:blur(2px);
    position: absolute;
    z-index: 3;
}

.levelUpMenuHeader{
    font-size: 3rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
    text-align: center;
}
.levelUpMenuBody{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    width: 60%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    row-gap: 5px;
}
.levelUpMenuFooter{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.levelUpMenuItem{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.existingItem{
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 5px;
    background-color: white;
    border-color: gray;
}

@keyframes spin {
    from {transform: translate(-50%, -50%) rotate(0);}
    to   {transform: translate(-50%, -50%) rotate(360deg);}
  }
  .newItem {
    --border-size: 0.25rem;
    --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    
    position: relative;
    overflow: hidden;
    font-size: 2rem;
    padding: 5px;
    border-radius: 0.5rem;
  }
    
    .newItem::before {
      content: '';
      background: var(--border-bg);
      width: calc(100% * 1.41421356237);
      padding-bottom: calc(100% * 1.41421356237);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      z-index: -2;
      animation: spin 5s linear infinite;
    }
    .newItem::after{
      content: '';
      position: absolute;
      inset: 5px;
      background: white;
      z-index: -1;
      border-radius: 0.25rem;
    }

.levelUpMenuItemThumbnail{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-style: none;

}
.levelUpMenuItemImg{
    border-style: solid;
}
.levelUpMenuItemName{
    font-size: 1rem;
}

.levelUpMenuItemInfo{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-style: none;
    border-left: solid;
    border-color: gray;
}

.levelUpMenuItemDescription{
    flex-grow: 4;
    width: 100%;
    padding-left: 5px;
    text-align: center;
    font-size: 1rem;
}

.levelUpMenuItemStats{
    flex-grow: 1;
    width: 100%;
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.chestUI{
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter:blur(2px);
    position: absolute;
    z-index: 3;
}


.confirmButton{
    transition: 0.5s;

    font-size: 1.5rem;

    background-repeat: no-repeat;
    background-position: center;

    background-image: url(../img/UI/ButtonBackground.png);
    background-size:contain;

    background-color: transparent;

    border-style: none;

    width: 100px;
    height: 50px;

    position: absolute;

    top: 80%;
    left: 50%;

    transform: translate(-50%, -50%);
}




  